<div class="container">

  <!-- section title -->
  <h2 class="section-title wow fadeInUp">Experience</h2>

  <div class="spacer-60"></div>

  <div class="row">

    <div class="col-md-6">

      <!-- timeline wrapper -->
      <div class="timeline edu rounded bg-white shadow-dark padding-30 overflow-hidden">

        <!-- timeline item -->
        <div class="timeline-container wow fadeInUp" data-wow-delay="0.2s">
          <div class="content">
            <span class="time">2017 - 2021</span>
            <h3 class="title">Bachelor’s Degree</h3>
            <div class="row">
              <div class="col-md-3">
                <i class="fas fa-school"></i>
              </div>
              <div class="col-md-9">
                <p>SRM IST</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <i class="fas fa-map-marker-alt"></i>
              </div>
              <div class="col-md-9">
                <p>Chennai,Tamil Nadu,India</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <i class="fas fa-book-reader"></i>
              </div>
              <div class="col-md-9">
                <p>B.Tech : Information Technology</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <i class="fas fa-star"></i><i class="fas fa-star"></i>
              </div>
              <div class="col-md-9">
                <p>81%</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <i class="fas fa-chalkboard-teacher"></i>
              </div>
              <div class="col-md-9">
                <p>CBSE</p>
              </div>
            </div>
          </div>
        </div>

        <!-- timeline item -->
        <div class="timeline-container wow fadeInUp" data-wow-delay="0.4s">
          <div class="content">
            <span class="time">2015 - 2017</span>
            <h3 class="title">Academic Degree</h3>
            <div class="row">
              <div class="col-md-3">
                <i class="fas fa-school"></i>
              </div>
              <div class="col-md-9">
                <p>Birla Senior Secondary School,Pilani</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <i class="fas fa-map-marker-alt"></i>
              </div>
              <div class="col-md-9">
                <p>Pilani,Rajasthan,India</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <i class="fas fa-book-reader"></i>
              </div>
              <div class="col-md-9">
                <p>Science</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <i class="fas fa-star"></i><i class="fas fa-star"></i>
              </div>
              <div class="col-md-9">
                <p>85%</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <i class="fas fa-chalkboard-teacher"></i>
              </div>
              <div class="col-md-9">
                <p>CBSE</p>
              </div>
            </div>
          </div>
        </div>

        <!-- main line -->
        <span class="line"></span>

      </div>

    </div>

    <div class="col-md-6">

      <!-- responsive spacer -->
      <div class="spacer-30 d-md-none d-lg-none"></div>

      <!-- timeline wrapper -->
      <div class="timeline exp bg-white shadow-dark rounded padding-30 overflow-hidden">

        <!-- timeline item -->
        <div class="timeline-container wow fadeInUp">
          <div class="content">
            <span class="time">2021 - Present</span>
            <h3 class="title">Software Developer</h3>
            <i class="fab fa-angular m-1"></i>
            <i class="fab fa-node-js m-1"></i>
            <i class="fab fa-html5 m-1"></i>
            <i class="fab fa-css3 m-1"></i>
            <i class="fab fa-js m-1"></i>
            <i class="fab fa-github m-1"></i>
            <i class="fab fa-bootstrap m-1"></i>
            <ul>
              <li>
                <p>2+ years of experience working in a corporate environment as a front-end UI/Web developer with strong
                  technical skills in complex website development, including web-based applications.</p>
              </li>
              <li>
                <p>
                  Proficient in developing highly interactive web applications using JavaScript, HTML5, CSS, JSON,
                  Angular (versions 1.2, 10, 13), and Material/Bootstrap, while seamlessly integrating RESTful APIs.
                </p>
              </li>
              <li>
                <p>
                  A specialist in crafting tailored components, elevating web applications to new heights by enhancing functionality and optimizing user experiences.
                </p>
              </li>
            </ul>
          </div>
        </div>

        <!-- timeline item -->
        <!-- <div class="timeline-container wow fadeInUp" data-wow-delay="0.2s">
          <div class="content">
            <span class="time">2017 - 2013</span>
            <h3 class="title">Front-End Developer</h3>
            <p>Lorem ipsum dolor sit amet quo ei simul congue exerci ad nec admodum perfecto.</p>
          </div>
        </div> -->

        <!-- timeline item -->
        <!-- <div class="timeline-container wow fadeInUp" data-wow-delay="0.4s">
          <div class="content">
            <span class="time">2013 - 2009</span>
            <h3 class="title">Back-End Developer</h3>
            <p>Lorem ipsum dolor sit amet quo ei simul congue exerci ad nec admodum perfecto.</p>
          </div>
        </div> -->

        <!-- main line -->
        <span class="line"></span>

      </div>

    </div>

  </div>

</div>