<div class="container">

  <!-- section title -->
  <h2 class="section-title wow fadeInUp">Works</h2>

  <div class="spacer-60"></div>

  <div class="row blog-wrapper">

    <div class="col-md-4">
      <!-- blog item -->
      <div class="blog-item rounded bg-white shadow-dark wow fadeIn">
        <div class="thumb">
          <a href="https://stackblitz.com/edit/stackblitz-starters-aukk1b
" target="_blank">
            <span class="category">Stackblitz</span>
          </a>
          <a href="javascript:">
            <img src="assets/images/blog/1.svg" alt="blog-title" />
          </a>
        </div>
        <div class="details">
          <h4 class="my-0 title"><a href="https://stackblitz.com/edit/stackblitz-starters-aukk1b
" target="_blank">Custom Search Filter Pipe</a></h4>
          <ul class="list-inline meta mb-0 mt-2">
            <li class="list-inline-item">22 September, 2023</li>
            <li class="list-inline-item">solo-leveler</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <!-- blog item -->
      <div class="blog-item rounded bg-white shadow-dark wow fadeIn">
        <div class="thumb">
          <a href="https://stackblitz.com/edit/stackblitz-starters-stb4s7" target="_blank">
            <span class="category">Stackblitz</span>
          </a>
          <a href="https://storyset.com/work">
            <img src="assets/images/blog/works-2.svg" alt="Work illustrations by Storyset" />
          </a>
        </div>
        <div class="details">
          <h4 class="my-0 title"><a href="https://stackblitz.com/edit/stackblitz-starters-stb4s7" target="_blank">Custom
              Angular Material DateRange Time Picker</a></h4>
          <ul class="list-inline meta mb-0 mt-2">
            <li class="list-inline-item">15 September, 2023 </li>
            <li class="list-inline-item">real-cerealkiller</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- <div class="col-md-4 opacity-50">
        blog item
        <div class="blog-item rounded bg-white shadow-dark wow fadeIn">
          <div class="thumb">
            <a href="javascript:">
              <span class="category">Business</span>
            </a>
            <a href="javascript:">
              <img src="assets/images/blog/3.svg" alt="blog-title" />
            </a>
          </div>
          <div class="details">
            <h4 class="my-0 title"><a href="javascript:">3 Things To Know About Startup Business</a></h4>
            <ul class="list-inline meta mb-0 mt-2">
              <li class="list-inline-item">Coming Soon</li>
              <li class="list-inline-item">real-cerealkiller</li>
            </ul>
          </div>
        </div>
      </div> -->

  </div>

</div>