<div class="container">

    <!-- section title -->
    <h2 class="section-title wow fadeInUp">Latest Posts</h2>
  
    <div class="spacer-60"></div>
  
    <div class="row blog-wrapper">
  
      <div class="col-md-4">
        <!-- blog item -->
        <div class="blog-item rounded bg-white shadow-dark wow fadeIn">
          <div class="thumb">
            <a href="https://medium.com/p/c69c3c58c52">
              <span class="category">Life</span>
            </a>
            <a href="https://www.freepik.com/free-vector/flying-bird-background-sunset_1509833.htm#query=pigeons%20city&position=5&from_view=keyword&track=ais">
              <img src="assets/images/blog/blog-1.svg" alt="Image byFreepik" />
            </a>
          </div>
          <div class="details">
            <h4 class="my-0 title"><a href="https://medium.com/p/c69c3c58c52" target="_blank">Moral code challenge — Life Vs Life</a></h4>
            <ul class="list-inline meta mb-0 mt-2">
              <li class="list-inline-item">15 April, 2020</li>
              <i class="fab fa-medium list-inline-item"></i>
              <li class="list-inline-item">Real-cereal Killer</li>
            </ul>
          </div>
        </div>
      </div>
  
      <div class="col-md-4 opacity-50">
        <!-- blog item -->
        <div class="blog-item rounded bg-white shadow-dark wow fadeIn">
          <div class="thumb">
            <a href="javascript:">
              <span class="category">Tutorial</span>
            </a>
            <a href="javascript:">
              <img src="assets/images/blog/2.svg" alt="blog-title" />
            </a>
          </div>
          <div class="details">
            <h4 class="my-0 title"><a>Angular 16 with CKEditor5 </a></h4>
            <ul class="list-inline meta mb-0 mt-2">
              <li class="list-inline-item">Coming Soon</li>
              <li class="list-inline-item">Real-cereal Killer</li>
            </ul>
          </div>
        </div>
      </div>
  
      <!-- <div class="col-md-4 opacity-50">
        blog item
        <div class="blog-item rounded bg-white shadow-dark wow fadeIn">
          <div class="thumb">
            <a href="javascript:">
              <span class="category">Business</span>
            </a>
            <a href="javascript:">
              <img src="assets/images/blog/3.svg" alt="blog-title" />
            </a>
          </div>
          <div class="details">
            <h4 class="my-0 title"><a href="javascript:">3 Things To Know About Startup Business</a></h4>
            <ul class="list-inline meta mb-0 mt-2">
              <li class="list-inline-item">Coming Soon</li>
              <li class="list-inline-item">Real-cereal Killer</li>
            </ul>
          </div>
        </div>
      </div> -->
  
    </div>
  
  </div>
  