
@import 'typed';
  .input-wrapper {
    display: block;
    position: relative;
    font-family: 'Tiro Devanagari Sanskrit', serif;
    //font-family: 'Poppins', sans-serif;
    font-size: 125%;
    > input,
    > .placeholder {
      display: block;
      appearance: none;
      width: 100%;
      height: 100%;
      background-color: transparent;
      border: none;
      color: #ff4c60;
    }
    > .placeholder {
      pointer-events: none;
      @include typed(
        "धर्मो रक्षति रक्षितः ।",
        "Dharma protects the protector.",
        1.5,
        (
        caret-width: 2px,
        caret-space: 2px
        )
      );
    }
    > input {
      &:focus,
      &:active {
        + .placeholder {
          display: none;
        }
      }
    }
  }  
  